@charset "UTF-8";
/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

nav a {
  color: #06214C;
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding: 1rem 1.6rem;
}
nav a:hover {
  color: #06214C;
}
nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #06214C;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
nav a:hover::before {
  transform: scaleX(0.66);
}

.logo {
  padding: 0 20px;
  flex: 1;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.burger {
  display: none;
  cursor: pointer;
  padding: 1rem;
}
.burger div {
  width: 25px;
  height: 2px;
  background: #06214C;
  margin: 6px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }

  .logo a {
    width: 100%;
    text-align: center;
    margin-left: 40px;
  }

  .burger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 70px;
    background-color: #F5F9FC;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    z-index: 1;
  }

  /* Nav animation - add classes using javascript */
  .nav-active {
    transform: translateX(0);
    opacity: 1;
  }

  .burger-active .line1 {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .burger-active .line2 {
    transform: scaleX(0);
    opacity: 0;
    /* transform: rotate(90deg); */
    /* opacity: 0; */
  }

  .burger-active .line3 {
    transform: rotate(-45deg) translate(6px, -5px);
  }
}
.toctitle {
  color: #06214C;
  font-size: 2em;
  font-weight: bold;
}

.toc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.toc li::marker {
  color: #06214C;
}
.toc ul {
  list-style: decimal;
}
.toc ul ul {
  list-style: lower-alpha;
}
.toc ul ul ul {
  list-style: upper-roman;
}

.toc > ul {
  padding-left: 0;
}

table {
  border-collapse: collapse;
  background-color: white;
  min-width: 50%;
  margin: 0 auto;
}

th {
  background-color: #06214C;
  color: white;
}

th, td {
  padding: 0.3rem 0.2rem;
}

tr:nth-child(even) {
  background-color: #F5F9FC;
}

tr:last-of-type {
  border-bottom: 1px solid #06214C;
}

code, code * {
  font-family: monospace;
}

pre {
  margin: 0;
  padding: 0;
}

.codehilite {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
}

p code {
  background: #F5F9FC;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}

/*-----------------------
        ALERTS
------------------------- */
.admonition {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
  padding: 0;
  display: flex;
  border-width: 1px;
  border-style: solid;
}

.admonition-title {
  flex: 0 1 110px;
  font-weight: bold;
  text-align: center;
}

.admonition-title::after {
  content: "!";
}

.admonition p {
  margin: 0;
  padding: 0.5rem 1rem;
}

.warning {
  background-color: hsl(55deg, 100%, 80%);
  border-color: hsl(55deg, 100%, 50%);
}

.warning > .admonition-title {
  background-color: hsl(55deg, 100%, 50%);
}

.danger {
  background-color: hsl(0deg, 100%, 80%);
  border-color: hsl(0deg, 100%, 50%);
}

.danger > .admonition-title {
  background-color: hsl(0deg, 100%, 50%);
  color: white;
}

.info {
  background-color: hsl(200deg, 100%, 80%);
  border-color: hsl(200deg, 100%, 50%);
}

.info > .admonition-title {
  background-color: hsl(200deg, 100%, 50%);
  color: white;
}

.success {
  background-color: hsl(150deg, 80%, 80%);
  border-color: hsl(150deg, 80%, 35%);
}

.success > .admonition-title {
  background-color: hsl(150deg, 80%, 35%);
  color: white;
}

.code {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
  font-family: monospace;
  background-color: #f6f6f6;
  border: solid 1px #aaa;
}

.inverse {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
  background-color: #06214C;
  color: #fcfcfc;
}

.row {
  display: flex;
}

.col {
  padding: 2rem 1rem;
  width: 50%;
}

.col:last-child {
  background: #F5F9FC;
}

.content-wrapper {
  margin: auto;
  max-width: 1300px;
}

.portfolio-items-wrapper {
  display: grid;
  grid-gap: 30px;
  margin: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.portfolio-item {
  position: relative;
  height: 330px;
  width: 100%;
}

.portfolio-item-img {
  border-radius: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.15s;
  filter: brightness(0.7);
}

.portfolio-item:hover > .portfolio-item-img {
  filter: brightness(0.4);
}

.portfolio-item-info {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}
.portfolio-item-info h2 {
  margin: 0;
  text-align: center;
}
.portfolio-item-info p {
  text-align: justify;
}

.category-tags {
  display: flex;
  justify-content: flex-end;
}

.category-tag {
  padding: 3px 5px;
  font-size: 0.8em;
  border-radius: 10px;
  background-color: #06214C;
}

.grow {
  flex-grow: 1;
}

.btn {
  padding: 10px;
  color: white;
  background-color: #06214C;
  border-radius: 5px;
  align-self: center;
  transition: all 0.15s;
}
.btn:hover {
  background-color: #33C8C3;
  color: white;
}

.meter {
  box-sizing: content-box;
  height: 10px;
  /* Can be anything */
  border-radius: 10px;
  position: relative;
  margin: 0 5%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  box-shadow: inset -1px -1px 1px rgb(255, 255, 255);
}

.meter span {
  display: block;
  height: 100%;
  border-radius: 10px;
  background-color: #06214C;
  position: relative;
  overflow: hidden;
}

header {
  padding: 8rem 2rem;
  color: #06214C;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.header-info {
  color: white;
}

* {
  box-sizing: border-box;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #F5F9FC;
  margin: 0;
}

.content {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1000px;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

p, code, li, td {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.content a {
  color: #06214C;
  font-weight: 600;
}
.content a:hover {
  color: #33C8C3;
}

hr {
  background-color: #06214C;
  margin: 3rem 0;
  padding: 1px;
  height: 1px;
  border: none;
}

blockquote {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
  background: #F5F9FC;
  border-left: 10px solid #06214C;
  quotes: "“" "”" "‘" "’";
}
blockquote p {
  margin: 0;
  padding: 0;
}

img {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
  display: block;
  margin: 0 auto;
}

dl {
  margin: 1rem 2.5rem;
  padding: 0.6rem 1rem;
  overflow-x: auto;
  background-color: #F5F9FC;
}
dl dt {
  font-weight: bold;
  color: #06214C;
}

abbr {
  text-decoration-thickness: 2px;
}