// Portfolio Styles

.content-wrapper {
    margin: auto;
    max-width: 1300px;
}

.portfolio-items-wrapper {
    display: grid;
    grid-gap: 30px;
    margin: 30px;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.portfolio-item {
    position:relative;
    height: 330px;
    width: 100%;
}

.portfolio-item-img {
    border-radius: 8px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all $transition;
    filter: brightness(0.7);
    // border-radius: 20px;
}

.portfolio-item:hover > .portfolio-item-img {
    filter: brightness(0.4);
}
.portfolio-item-info {
    // background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    h2 {
        margin: 10px 0 0 0;
        text-align: center;
    }
    p {
        text-align: center; // justify
    }
}


.grow {
    flex-grow: 1;
}

// Read More!
.btn {
    padding: 10px;
    color: white;
    background-color: $primary;
    border-radius: 5px;
    align-self: center;
    transition: all $transition;
    &:hover {
        background-color: $secondary;
        color: white;
    }
}

