// TABLES

table {
    border-collapse: collapse;
    background-color: white;
    min-width: 50%;
    margin: 0 auto;
}

th {
    background-color: $primary;
    color: white;
}

th, td {
    // text-align: left;
    padding: 0.3rem 0.2rem;
    // border-bottom: 0.5px solid #555;
}

tr:nth-child(even) {
    background-color: $neutral;
}

tr:last-of-type {
    border-bottom: 1px solid $primary;
}
