{% extends 'base.html' %}

{% block title %} - blog{% endblock %}

{% block content %}
<header
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/covers/blog.jpg')">
    <div class="header-info">
        <div class="category-tags">
            <div class="category-tag {{category}}">{{ category }}</div>
        </div>
        <h1>{{ title | upper }}</h1>
        <p><em>{{ summary }}</em></p>
        <p><em>{{ (author | title) or "Philip" }} <span class="divider">//</span> {{ date.strftime('%Y %B') }}</em></p>
    </div>
</header>

<div class="content">
    {{ content | safe }}
</div>

{% endblock %}